.Panel {
  background-color: var(--primary-theme);
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.5px;
  padding-bottom: 20px;
  position: sticky;
  z-index: 1000;
  width: 100%;
}

.Panel .full-screen {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Panel h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.Panel .header {
  align-items: center;
  background-color: var(--primary-theme);
  /*border-bottom: 1px ridge var(--secondary-theme);*/
  border-bottom: 1px solid var(--text-color);
  display: flex;
  justify-content: space-around;
  padding: 0 23px;
}

.Panel .desktop {
  display: block;
}

.Panel .mobile {
  display: none;
}

.Panel h1 {
  font-size: 27px;
}

.Panel button {
  background-color: var(--accent-color);
  border: 1px solid hsl(214, 13%, 14%);
  border-radius: 6px;
  color: var(--primary-theme);
  cursor: pointer;
  display: block;
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 10px 8px;
  text-align: center;
  text-transform: uppercase;
}
.Panel button:hover,
.Panel button:active {
  background-color: var(--primary-theme);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
  transition: all 150ms ease-in-out;
}

.Panel button:active {
  transform: translate(1px, 1px);
}

.Panel header,
.Panel main {
  padding: 0 13px;
}

.Panel .accordion section {
  /*border-top: 1px solid var(--text-color);*/
  border-top: 1px ridge var(--secondary-theme);
  padding-bottom: 10px;
  padding-top: 10px;
}

.Panel .accordion article {
  font-size: 14px;
  margin: 0 0 0 35px;
  line-height: 1.5;
}

.Panel .accordion header {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Panel .accordion h2 {
  cursor: pointer;
  font-size: 18px;
  margin: 0;
}

.Panel .accordion h3 {
  font-size: 15px;
}

.Panel .accordion-icon {
  font-size: 20px;
}

.accordion-content-hide {
  max-height: 0;
  overflow: hidden;
}

.accordion-content-show {
  height: auto;
}

.accordion-paragraph-enter {
  opacity: 0;
}

.accordion-paragraph-enter-active {
  opacity: 1;
  transition: opacity 375ms ease-in-out;
}

.accordion-paragraph-exit {
  opacity: 1;
}

.accordion-paragraph-exit-active {
  opacity: 0;
  transition: opacity 375ms ease-in-out;
}

@media only screen and (max-width: 768px) {
  .Panel .desktop {
    display: none;
  }

  .Panel .mobile {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .Panel .header {
    justify-content: space-between;
  }

  .Panel h1 {
    font-size: 22px;
  }
  .Panel article,
  .Panel p {
    font-size: 12px;
  }
  .Panel .accordion article {
    margin: 0 0 0 15px;
  }
}
