.Panel {
  background-color: var(--primary-theme);
  color: var(--text-color);
  font-family: var(--primary-font);
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1.5px;
  padding-bottom: 20px;
}

.Panel h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

.Panel h1 {
  align-items: center;
  background-color: var(--primary-theme);
  border-bottom: 1px ridge var(--secondary-theme);
  display: flex;
  font-size: 27px;
  justify-content: center;
  margin: 0 auto;
  padding: 8px 0;
  width: 90%;
}

.Panel h2 {
  font-size: 18px;
  margin-bottom: 0;
}

.Panel header,
.Panel main {
  padding: 0 13px;
}

.Panel p {
  font-size: 14px;
  line-height: 1.5;
  margin-left: 16px;
}
