.Contribute {
  align-items: center;
  background-color: var(--secondary-theme);
  color: var(--text-color);
  display: flex;
  justify-content: flex-end;
  padding: 8px 23px;
  box-sizing: border-box;
}

.Contribute h4 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: none;
}

.Contribute a {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  margin-left: 16px;
  text-align: center;
}

.Contribute a:visited {
  color: var(--text-color);
}

.Contribute a:active {
  font-weight: 500;
}

/* utility classes */

.fixed {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.static {
  position: static;
  bottom: auto;
  width: auto;
}

@media only screen and (max-width: 480px) {
  .Contribute h4 {
    font-size: 12px;
  }
  .Contribute a {
    font-size: 11px;
    margin-left: 0;
  }
}
