.ResearchBottom {
  margin-bottom: 30px;
}

.ResearchDetails ul {
  list-style: none;
  font-size: 14px;
  padding-right: 23px;
  padding-left: 0;
  margin-bottom: 20px;
}

.ResearchDetails ul.outer-list {
  padding-bottom: 30px;
  padding-left: 23px;
}

.ResearchDetails li a {
  color: var(--text-color);
}

.ResearchDetails li a:visited {
  color: var(--text-color);
}

.ResearchDetails li a:active {
  font-weight: 500;
  color: var(--text-color);
}

.researchdetails-tag {
  font-weight: 700;
  text-transform: uppercase;
}

.researchdetails-thin {
  font-weight: 300;
}

li.site-address {
  margin-bottom: 20px;
}

@media only screen and (max-width: 480px) {
  .ResearchDetails ul {
    font-size: 14px;
  }
}
