.ResearchDetails {
  margin-bottom: 60px;
}

.ResearchDetails h3 {
  margin: 20px 0 0 47px;
}

.ResearchDetails ul {
  list-style: square;
  font-size: 14px;
  margin: 0 0 0 47px;
}

.ResearchDetails li {
  margin: 10px 0;
}

.ResearchDetails li a {
  color: var(--accent-color);
  font-weight: 700;
  text-decoration: none;
}

.ResearchDetails li a:visited {
  color: var(--accent-color);
}

.ResearchDetails li a:hover {
  text-decoration: underline;
}

.researchdetails-tag {
  font-weight: 700;
  text-transform: uppercase;
}

.researchdetails-thin {
  font-weight: 300;
}

.researchdetails-small {
  font-size: 12px;
}

@media only screen and (max-width: 480px) {
  ul {
    padding-left: 20px;
  }
}
