:root {
  --accent-color: hsl(69, 41%, 56%);
  --primary-theme: hsl(214, 13%, 24%);
  --secondary-theme: hsl(215, 19%, 40%);
  --text-color: hsl(35, 44%, 92%);
  --primary-font: "Orbitron", sans-serif;
  --secondary-font: "Smooch Sans", sans-serif;
}

body {
  margin: 0;
  background-color: var(--primary-theme);
}

.App .leaflet-container {
  min-height: 50vh;
  max-height: 75vh;
  width: 100%;
}
