#about-article {
  align-items: center;
  background-color: var(--primary-theme);
  border-bottom: 1px ridge var(--secondary-theme);
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 23px;
}

#about-article p {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 6px;
}

.about-icon {
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 0 6px;
}
