.Research .full-screen {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.Research .accordion-icon {
  cursor: pointer;
  background-color: var(--primary-theme);
  border: 1px solid var(--primary-theme);
  color: var(--accent-color);
  padding: 0px 10px;
  border-radius: 6px;
  font-size: 25.5px;
  font-weight: 450;
}

.Research .accordion-icon:hover,
.Research .accordion-icon:active {
  background-color: var(--accent-color);
  color: var(--primary-theme);
  transition: all 150ms ease-in-out;
}

.Research .accordion-icon:active {
  transform: translate(1px, 1px);
}
