.Research .full-screen {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.Panel .accordion header {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 12px 23px;
}

.Research .accordion-icon {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  padding: 0 6px;
}
