.Research .full-screen {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.Research .accordion-icon {
  cursor: pointer;
  font-size: 25.5px;
  font-weight: 450;
}
